
*{
    margin: 0;
    padding: 0;
}


figure{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}


figure img {
    width: 300px;
    height: 300px;
}

figure img:hover {
   box-shadow: 4px 8px 16px green;
}


nav {
    position: sticky;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    top: 0;
    padding-bottom: 15px;
    padding-top: 10px;
}

nav a {
   text-decoration: none;
}


.home {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
}


.home div{
    padding-top: 100px;
}

.home img {
    width: 340px;
    margin-top: 29px;
    margin-left: 20px;
}

.home h2 {
    font-weight: 700px;
    font-size: 30px;
}

.home input {
    width: 250px;
    height: 45px;
    border-radius: 12px;
    margin-top: 20px;
}

.home input:hover{
    box-shadow: 0 8px 10px green;
}

section {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 2px 4px 6px crimson;
}

section p {
    padding-top: 5px;
}


.seller {
    padding-top: 20px;
}

.seller h3 {
   padding-top: 30px;
   padding-left: 10px;
   padding-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.books {
    height: 300px;
    background-color: beige;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 10px;
}

.books img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.books h6 {
    position: relative;
    top: -100px;
    text-align: center;
    padding: 10x;
    font-size: larger;
    font-weight: bolder;
}

.seller button {
    background-color: blue;
    color: blanchedalmond;
    width: 10vw;
    height: 6vh;
    display: block;
    position: relative;
    margin: 0 auto;
    top: -10px;
}





.card-group {
    display: flex;
    margin-top:50px;
    margin-bottom: 30px;
}

#Books {
    position: relative;
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: x-large;
}

.card-group .card {
    width: 400px;
    height: 500px;
    padding: 30px;
    background-color: beige;
    margin: 10px;
    border: 1px solid black;
}

.card-img-top {
    width: 350px;
    height: 350px;
}

.card .card-body {
    background-color: cadetblue;
}

.card-body .card-title{
    background-color: cornflowerblue;
    text-align: center;
    margin-bottom: 10px;
    height: 30px;
    margin-top: 5px;
    color: azure;
}
.card button {
    background-color: bisque;
    color: cadetblue;
    height: 6vh;
    width: 8vw;
    margin: 0 auto;
    display: block;
    border: none;
    margin-bottom: 10px;
}



.contact {
    margin-top: 50px;
    background-color: slategrey;
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}


.contact h3 {
    padding-bottom: 20px;
    background-color: azure;
}

.contact img {
    width: 50px;
    background-color: azure;
}



footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

footer p {
    font-size: medium;
}

footer :first-child {
   font-size: large;   
}

footer div a {
    color: black;
    display: block;
    font-size: medium;
}



button:hover{
    background-color: crimson;
    color: aquamarine;
}

button:active{
    background-color: black;
    color: cornsilk;
}

nav:hover{
    background-color: crimson;
}

.books:hover{
    box-shadow: 4px 8px 16px crimson;
}

@media(max-width: 430px) {
    figure {
        margin-top: -12px;
    }
    figure img {
        width: 100px;
    }
    .home {
        margin-right: 10px;
    }
    .home div {
        padding: 70px;
    }
    .home img {
        width: 200px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .home h2 {
        font-size: 10px;
    }
    .home input {
        width: 100px;
        height: 20px;
        margin-top: 7px;
    }

    section {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    section h1 {
        font-size: medium;
    }
    section p {
        font-size: smaller;
    }



      

.card-group {
    display: grid;
    margin-left: 10px;
}

.books {
    margin-bottom: 20px ;
}

.books img {
    width: 250px;
    height: 200px;
}

.books button {
    width: 20vw;
    height: 5vh;
    display: block;
    margin: 0 auto;
}


.contact {
    background-color: beige;
}
.contact h3 {
    font-size: medium;
    margin-top: -10;
}

}

  